$color-accent: #ffd900;
$color-accent-hover: #ffcc00;
$color-black: #050C26;
$color-border: rgba(60, 60, 60, 0.12);
$color-brown: #4D3B3B; // TODO remove
$color-disabled: #A69D9D;
$color-error: #EA4335;
$color-red: #DC6655;
$color-success: #00bd7e;
$color-white: #FFFFFF;

@media (prefers-color-scheme: dark) {
  $color-border: rgba(84, 84, 84, 0.48);
}