$color-accent: var(--color-accent);
$color-accent-hover: var(--color-accent-hover);
$color-black: var(--color-black);
$color-border: var(--color-border);
$color-brown: var(--color-brown);
$color-disabled: var(--color-disbled);
$color-error: var(--color-error);
$color-red: var(--color-red);
$color-success: var(--color-success);
$color-white: var(--color-white);